
.inner-container {
    max-width: 63.75rem;
    margin: auto;
    padding: 0 1rem;
   
}

.bg-color {
    background-color: lightblue;
    padding: 3rem 0;
}
h1 {
    margin: 2rem auto;
}
h2 {
    margin-bottom: 2rem;;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem; /**row-gap, column-gap**/
}

.flex section {
    width: calc((100% - 1rem) / 2);
}